.card {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	overflow: hidden;
}

.card__image {
	background: #888;
	display: flex;
	padding-top: 10px;
	justify-content: center;
	align-items: flex-start;
	height: 180px;
}

.card__info {
	display: flex;
	flex-direction: column;
	background: var(--black);
	color: var(--white);
	min-height: 150px;
	padding: 10px;
}

.card__tag {
	font-weight: 300;
	font-size: 10.855px;
	line-height: 15px;
	color: #dedede;
}

.card__name {
	font-weight: 600;
	font-size: 15.3893px;
	line-height: 16px;
	margin-bottom: 8px;
}

.card__author {
	font-size: 10.9924px;
	line-height: 15px;
	margin-bottom: 38px;
}

.card__footer {
	margin-top: auto;
	display: flex;
}

.button__add {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--white);
	border-radius: 6px;
	width: 36px;
	height: 32px;
	background: none;
	cursor: pointer;
}

.button__active {
	background: var(--white);
}
