.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 30px;
}

.menu {
	display: flex;
	align-items: center;
	gap: 30px;
}

.menu__item {
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1px;
	color: inherit;
	transition: all 0.2s ease-in-out;
}

.menu__item span:hover {
	transition: all 0.2s ease-in-out;
	font-weight: 700;
}

.menu__counter {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 1px solid var(--black);
}
