.search {
	display: flex;
	gap: 10px;
	width: 100%;
	margin-bottom: 30px;
}

.search__wrapper {
	position: relative;
	flex: 1;
	display: flex;
}

.search__wrapper img {
	position: absolute;
	left: 11px;
	top: 50%;
	transform: translateY(-50%);
}

.search__input {
	flex: 1;
	padding: 12px 0 12px 58px;
	border: none;
	border-radius: 5px;
	color: #252525;
	background-color: #dedede;
	font-size: 14px;
	line-height: 32px;
}

.search__input::placeholder {
	color: #494949;
}

.search button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	border: none;
	background-color: var(--black);
	border-radius: 5px;
	cursor: pointer;
}
